.title-head {
  font-size: 1.42857em;
  font-weight: 700;
  color: #333;
  text-decoration: none
}

.title-head a {
  color: #333
}

.title-head a:hover {
  color: rgb(247, 181, 38);
}

.subtitle-head {
  font-size: 1.28571em;
  color: #333;
  margin: 20px 0
}

.product-box {
  text-align: left;
  margin-bottom: 30px;
  background: #fff;
  position: relative;
  overflow: hidden
}

.product-box:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0
}

.product-box .product-thumbnail {
  position: relative;
  overflow: hidden
}

.product-box .product-thumbnail img {
  -webkit-transition-property: background-image;
  -webkit-transition-duration: 1.0s;
  -webkit-transition-timing-function: ease-out;
  transition-property: background-image;
  transition-duration: 1.0s;
  transition-timing-function: ease-out;
  transition: all 700ms ease 0s
}

.product-box .product-info {
  z-index: 10;
  position: relative;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px
}

.product-box .product-name {
  font-size: 1.07143em;
  line-height: 1.15;
  color: #333;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 2px
}

.product-box .product-name a {
  color: #222;
  text-decoration: none
}

.product-box .product-name a:hover {
  color: rgb(247, 181, 38)
}

.product-box .product-name:hover,
.product-box .product-name:focus {
  color: rgb(247, 181, 38)
}

.product-box .price-box {
  min-height: 49px
}

.product-box .price-box .special-price {
  display: block;
  width: 100%
}

.product-box .price-box .special-price .product-price {
  color: #ec0101;
  font-size: 1.07143em;
  line-height: 1.71429em;
  display: inline-block;
  font-weight: 500
}

.product-box .price-box .old-price {
  display: inline-block
}

.product-box .price-box .old-price .product-price-old {
  text-decoration: line-through;
  font-size: .92857em;
  margin: 0 0 0 0px;
  display: inline-block;
  color: #878787
}

.product-box .price-box .sale-flash {
  position: absolute;
  font-size: .92857em;
  top: 10px;
  left: 10px;
  text-align: center;
  z-index: 9;
  text-transform: uppercase;
  font-weight: 500
}

.product-box .product-summary {
  font-size: 1em;
  color: #acacac;
  line-height: 20px
}

.product-box form {
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1)
}

.product-box:hover .product-thumbnail img {
  -webkit-transform: scale(1.1);
  -khtml-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1)
}

.product-price {
  color: #323c3f;
  font-size: 1.42857em;
  line-height: 24px;
  display: block;
  font-weight: 700
}

.products-view-list .product-box .product-thumbnail {
  text-align: center;
  margin-bottom: 0;
  width: calc(100% / 3);
  float: left
}

@media (max-width: 767px) {
  .products-view-list .product-box .product-thumbnail {
    width: 100%;
    float: none;
    margin-bottom: 10px;
    padding: 5px
  }
}

@media (max-width: 480px) {
  .products-view-list .product-box .product-thumbnail {
    width: 100%;
    float: none;
    margin-bottom: 10px
  }
}

.products-view-list .product-box .product-info {
  text-align: left;
  float: left;
  width: calc(100% / 3 * 2);
  background: transparent;
  border-top: none;
  padding: 10px
}

@media (max-width: 767px) {
  .products-view-list .product-box .product-info {
    float: none;
    margin-left: 0;
    width: 100%;
    padding: 5px
  }
}

@media (max-width: 480px) {
  .products-view-list .product-box .product-info {
    float: none;
    margin-left: 0;
    width: 100%
  }
}

.breadcrumb {
  margin: 0;
  font-size: 1em;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 0
}

.breadcrumb li {
  display: inline;
  cursor: pointer;
}

.breadcrumb li>a {
  color: #222;
}

.breadcrumb li>a>span {
  color: #222;
}

.breadcrumb li>a>span:hover,
.breadcrumb li>a>span:focus {
  color: rgb(247, 181, 38);
  text-decoration: none;
}

.breadcrumb li>a:hover,
.breadcrumb li>a:focus {
  color: rgb(247, 181, 38);
  text-decoration: none;
}

.breadcrumb li span {
  display: inline;
  color: #323c3f;
}

.breadcrumb li span .fa {
  color: #323c3f;
}

.breadcrumb li a:hover,
.breadcrumb li.active,
.breadcrumb li strong {
  color: rgb(247, 181, 38);
  font-weight: 400
}

.breadcrumb>li+li:before {
  display: none
}

.pagination {
  margin-bottom: 20px
}

.pagination .page-link {
  float: left;
  margin: 0 2.5px;
  width: 28px;
  background: transparent;
  text-align: center;
  height: 28px;
  font-size: 14px;
  line-height: 28px;
  color: #555555;
  border-radius: 0;
  border: none;
  text-decoration: none;
  border-radius: 50% !important;
  padding: 0
}

.pagination .page-link:hover {
  background-color: #fff;
  border-color: #fff;
  color: rgb(247, 181, 38)
}

@media (max-width: 480px) {
  .pagination .page-link {
    margin: 0;
    width: 23px;
    height: 23px;
    line-height: 23px
  }
}

.pagination .page-item.disabled .page-link {
  border: 0;
  background: transparent;
  color: #555555
}

.pagination .page-item.active .page-link {
  background-color: #fff;
  border-color: #fff;
  color: rgb(247, 181, 38)
}

header {
  background: #fff
}

.topbar {
  background: #fff
}

.header-main {
  padding: 30px 0
}

.logo {
  padding: 5px 0
}

.header_search {
  padding: 10px 0 15px
}

.header_search input {
  float: right
}

.header_search .input-group-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 45px
}

.header_search .input-group {
  width: 100%;
  margin-bottom: 0
}

.header_search button {
  padding: 0;
  width: 45px;
  background: transparent
}

.header_search button img {
  margin-top: 6px
}

.mini-cart {
  z-index: 10;
  text-align: center
}

.mini-cart:hover .top-cart-content {
  display: block
}

.mini-cart .dropdown-toggle {
  font-size: 12px;
  padding: 0;
  text-transform: none
}

.top-cart-contain {
  color: #333;
  padding: 0;
  right: 0;
  z-index: 1000
}

.top-cart-contain .price {
  color: rgb(247, 181, 38);
  text-transform: uppercase
}

.top-cart-contain .mini-cart .price {
  margin-right: 5px;
  font-size: 16px;
  font-weight: 700
}

.top-cart-contain .product-details .price {
  color: rgb(247, 181, 38);
  width: auto;
  float: none;
  font-weight: 400;
  padding-left: 0;
  font-size: 12px
}

.top-cart-content {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background: #fff;
  padding: 0;
  text-align: left;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.4);
  z-index: 10000
}

.top-cart-content .empty {
  text-align: left;
  color: #333
}

.top-cart-content .product-name {
  margin: 0;
  width: 150px;
  line-height: 1;
  padding-right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}

.top-cart-content .product-name a {
  font-size: 1em;
  line-height: normal;
  line-height: 20px !important;
  font-weight: 400;
  color: #333
}

.top-cart-content li {
  list-style: none
}

.top-cart-content li.item {
  border-top: 1px solid #eee;
  overflow: hidden;
  padding: 20px 0
}

.top-cart-content li.item:first-child {
  border-top: none;
  padding-top: 10px
}

.top-cart-content li.item:last-child {
  margin: 0;
  border-bottom: none
}

.top-cart-content li.item .product-image {
  float: left;
  display: block;
  width: 100px;
  margin-right: 10px
}

.top-cart-content li.item .detail-item {
  padding-left: 110px
}

.top-cart-content li.item .detail-item .fa {
  position: absolute;
  right: 20px
}

.top-cart-content li.item .detail-item input {
  display: inline-block;
  width: 45px;
  padding: 0;
  text-align: center
}

.top-cart-content li.item .detail-item button.items-count {
  display: inline-block
}

.top-cart-content .block-subtitle {
  color: #333;
  overflow: hidden;
  padding: 15px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: .92857em;
  background: #f5f5f5;
  text-transform: none;
  font-weight: 400;
  border-bottom: 1px #ddd solid
}

.top-subtotal {
  color: #333;
  font-size: 1.14286em;
  font-weight: 400;
  padding: 12px 0;
  padding-top: 30px;
  text-align: left;
  text-transform: none
}

.top-subtotal .price {
  font-weight: 700;
  color: rgb(247, 181, 38);
  float: right
}

ul#cart-sidebar {
  padding: 20px 30px;
  margin: 0;
  max-height: 582px;
  min-width: 320px
}

ul#cart-sidebar li.list-item {
  max-height: 400px;
  overflow-y: auto
}

ul#cart-sidebar li.action {
  display: none
}

ul#cart-sidebar.hasclass li.action {
  display: block
}

ul#cart-sidebar li.list-item .price2 {
  font-weight: 700;
  color: #f94e3f;
  font-size: 14px;
  display: list-item;
  margin-bottom: 5px
}

ul#cart-sidebar li.list-item::-webkit-scrollbar {
  width: 5px
}

ul#cart-sidebar li.list-item::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.9)
}

ul#cart-sidebar li.list-item::-webkit-scrollbar-thumb {
  background: rgb(247, 181, 38);
  border-radius: 15px
}

ul#cart-sidebar li.list-item::-webkit-scrollbar-thumb:hover,
ul#cart-sidebar li.list-item::-webkit-scrollbar-thumb:active {
  background: rgb(247, 181, 38);
  border-radius: 15px
}

.li-fix-1 {
  background: #FFF;
  border-top: 1px solid #ebebeb;
  display: block
}

.li-fix-2 {
  display: block;
  width: 295px
}

header nav {
  background: #f2f2f2
}

header nav .nav {
  position: static
}

header nav .nav-item {
  float: left;
  position: relative;
  margin-right: 20px
}

header nav .nav-item.has-mega {
  position: static
}

header nav .nav-item>a {
  line-height: 32px;
  color: #333
}

header nav .nav-item>a:hover {
  color: rgb(247, 181, 38)
}

header nav .nav-item>.fa {
  color: #fff;
  position: absolute;
  right: 0;
  top: 33px
}

header nav .nav-item .nav-item-lv2 {
  padding: 0 10px
}

header nav .nav-item .nav-item-lv3 {
  padding: 0 10px
}

header nav .nav-item:hover>.dropdown-menu {
  display: block;
  margin-top: 0
}

header nav .nav-item:hover>.mega-content {
  display: block
}

header nav .nav-item li.dropdown-submenu {
  position: relative
}

header nav .nav-item li.dropdown-submenu .dropdown-menu {
  left: 100%;
  top: 0
}

header nav .nav-item li.dropdown-submenu:hover>.dropdown-menu {
  display: block
}

header nav .mega-content {
  background: #fff none repeat scroll 0 0;
  border-radius: 0;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
  display: none;
  margin: 0;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  width: 100%
}

header nav .mega-content .level1.parent h2 {
  font-size: 14px;
  margin-top: 0
}

header nav .mega-content .level1.parent h2 a {
  color: #333;
  text-transform: uppercase
}

header nav .mega-content .level1.parent ul.level1 li {
  line-height: 1.1
}

header nav .mega-content .level1.parent ul.level1 li a {
  font-weight: normal !important;
  text-transform: none !important
}

header nav .mega-content .level1.parent ul.level1 li+li {
  padding-top: 5px
}

header nav .mega-content .level1.item {
  float: left;
  width: 25%;
  padding: 0 5px
}

header nav .mega-content .level1.item>a {
  color: rgb(247, 181, 38)
}

header nav .mega-content .level1.item>a:hover,
header nav .mega-content .level1.item>a:focus {
  color: #1680b4;
  text-decoration: none
}

header nav .mega-content .level1.item h2 {
  font-size: 14px;
  margin-top: 0
}

header nav .mega-content .level1.item ul.level1 {
  margin-bottom: 15px
}

header nav .mega-content .level1.item ul.level1 li a {
  font-weight: normal !important;
  text-transform: none !important;
  color: #333
}

header nav .mega-content .level1.item ul.level1 li a:hover,
header nav .mega-content .level1.item ul.level1 li a:focus {
  text-decoration: none;
  color: rgb(247, 181, 38)
}

header nav .mega-content .level0-wrapper2 .nav-block .level0 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

footer {
  position: relative;
  overflow: hidden
}

footer .footer-info-widget h3 {
  font-size: 1.28571em;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 20px
}

footer .footer-info-widget p {
  color: #cfd2d3;
  font-size: 1.14286em
}

footer .footer-info-widget p.hotline {
  font-size: 2em;
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: -8px
}

footer .footer-info-widget p.hotline a {
  color: #fff
}

footer .footer-info-widget p.hotline a:hover {
  color: rgb(247, 181, 38)
}

footer .footer-info-widget form {
  position: relative
}

footer .footer-info-widget form input {
  height: 50px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.14286em
}

footer .footer-info-widget form button {
  position: absolute;
  right: 0;
  background: transparent;
  border: none;
  line-height: 50px;
  font-size: 2.14286em;
  color: #a6a6ad;
  padding-right: 10px
}

footer .list-inline .fa {
  color: #fff;
  margin-right: 20px;
  font-size: 2.14286em
}

footer .list-inline .fa:hover {
  color: rgb(247, 181, 38)
}

footer .site-footer h3,
footer .site-footer h4 {
  position: relative;
  color: #333;
  margin: 0;
  padding: 13px 0;
  font-size: 1.28571em
}

footer .list-menu {
  margin-bottom: 15px;
  line-height: 1.71429em
}

footer .list-menu a {
  color: #333
}

footer .list-menu a:hover {
  color: rgb(247, 181, 38)
}

footer .list-menu li {
  color: #333
}

footer .list-menu.contact .fa {
  width: 20px;
  margin-right: 5px;
  color: rgb(247, 181, 38)
}

footer .copyright {
  text-align: center;
  color: #656565;
  font-size: 1em;
  position: relative;
  padding: 10px 0;
  background-color: #121212
}

footer .copyright a {
  color: #656565
}

footer .copyright a:hover,
footer .copyright a:focus {
  color: rgb(247, 181, 38)
}

footer .social-icons li {
  margin-right: 10px
}

footer .back-to-top {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  height: 35px;
  width: 35px;
  line-height: 35px;
  border-radius: 3px;
  background-color: #333;
  color: #fff
}

footer .back-to-top.show {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 999
}

footer form {
  position: relative
}

footer form button#subscribe {
  position: absolute;
  right: 0
}

.details-product #gallery_01 {
  margin-top: 15px
}

.details-product #gallery_01 .owl-carousel.owl-loaded {
  overflow: hidden
}

.details-product .details-pro .product-price {
  font-size: 2.14286em;
  display: inline-block
}

.details-product .details-pro .price-box {
  margin: 10px 0 15px
}

.details-product .details-pro .price-box del {
  color: #adadad;
  font-size: 1.42857em
}

.details-product .details-pro .custom-btn-number {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  border: none;
  box-shadow: none;
  height: auto
}

.details-product .details-pro .custom-btn-number label {
  font-size: 14px
}

.details-product .details-pro .custom-btn-number #qty {
  height: 40px;
  font-size: 1em;
  margin: 0;
  width: 60px;
  padding: 0 2px;
  text-align: center
}

.details-product .details-pro .custom-btn-number .qtyminus {
  position: absolute;
  left: 25px;
  top: 4px;
  font-size: 1.42857em
}

.details-product .details-pro .custom-btn-number .qtyplus {
  position: absolute;
  right: 25px;
  top: 4px;
  font-size: 1.42857em
}

.zoomWrapper {
  width: 100% !important;
  height: auto !important
}

.zoomWrapper img {
  position: static !important;
  max-width: 100% !important;
  height: auto !important;
  width: auto !important
}

.zoomWrapper img~img {
  display: none !important
}

.product-tab .tab-link {
  margin-right: 20px
}

.product-tab .tab-link h3 {
  margin: 10px 0;
  font-size: 1.14286em
}

.product-tab .tab-link span {
  font-size: 1.14286em
}

.product-tab .tab-link.current h3 {
  color: rgb(247, 181, 38)
}

.product-tab .tab-content.current {
  padding: 10px;
  border: 1px solid #e1e1e1;
  min-height: 200px
}

@media (max-width: 480px) {
  .product-tab .tab-content.current {
    min-height: 20px
  }
}

.view-mode span {
  font-size: 0
}

.button-view-mode {
  padding: 0;
  margin: 0;
  font-size: 1.42857em
}

.button-view-mode.active {
  box-shadow: none;
  color: #333
}

.button-view-mode.active a {
  color: #333
}

.sortPagiBar {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
  padding-bottom: 15px
}

.blog-item {
  overflow: hidden;
  margin-bottom: 15px
}

.blog-item .date {
  position: absolute;
  background: rgb(247, 181, 38);
  text-align: center;
  color: #fff;
  padding: 3px 10px;
  z-index: 10
}

.blog-item .date span {
  display: block;
  line-height: 45px
}

.blog-item .date span~span {
  overflow: hidden;
  border-top: 1px solid #fff
}

.blog-item-name {
  font-weight: 700;
  position: relative;
  font-size: 1.14286em;
  margin: 0
}

.blog-item-name a {
  color: #333
}

.blog-item-name .fa {
  position: absolute;
  left: 0;
  top: 9px;
  font-size: 11px;
  color: rgb(247, 181, 38)
}

.blog-item-summary {
  font-size: 1em;
  margin-bottom: 0
}

.blog-item-thumbnail {
  position: relative
}

.list-blogs .blog-item {
  margin-bottom: 25px
}

.article-main .article-title {
  font-size: 1.71429em;
  line-height: 1.92857em;
  margin: 15px 0 8px
}

.article-main .postby {
  font-size: 1.14286em;
  line-height: 1.71429em;
  color: #676767;
  margin-bottom: 10px
}

.article-main .article-content {
  font-size: 1em
}

.article-main .form-group {
  margin: 0;
  padding-top: 0;
  padding-bottom: 8px
}

#article-comments {
  margin-top: 30px
}

#article-comments .article-comment {
  margin-bottom: 10px
}

#article-comments .article-comment-user-image {
  margin: 0;
  float: left;
  width: 50px;
  margin-right: 12px
}

#article-comments .article-comment-user-comment {
  padding-left: 63px;
  font-size: 1em
}

#article-comments .user-name-comment {
  margin: 0;
  color: rgb(247, 181, 38);
  font-size: 15px;
  line-height: 1
}

#article-comments .article-comment-date-bull {
  padding: 5px 0;
  display: block;
  color: #acacac;
  font-size: 12px
}

.social-media {
  font-size: 1em
}

.social-media label {
  display: inline-block
}

.social-media a {
  margin-right: 7px;
  color: #222
}

.social-media a:hover,
.social-media a:focus {
  text-decoration: none;
  color: #222
}

.social-media a:hover .fa-facebook-official,
.social-media a:focus .fa-facebook-official {
  color: #3b5998
}

.social-media a:hover .fa-twitter,
.social-media a:focus .fa-twitter {
  color: #1da1f2
}

.social-media a:hover .fa-pinterest,
.social-media a:focus .fa-pinterest {
  color: #bd081c
}

.social-media a:hover .fa-google-plus,
.social-media a:focus .fa-google-plus {
  color: #dd4b39
}

.social-media .list-inline li {
  margin-right: 20px
}

textarea.form-control {
  border: 1px solid #e1e1e1
}

.section-news-2 {
  margin-bottom: 20px
}

.cart-item {
  background: #fff;
  padding: 20px 10px;
  border-bottom: 1px solid #e1e1e1
}

.cart-item-image {
  float: left;
  width: 120px;
  margin-right: 20px
}

.cart-item-info {
  padding-left: 140px
}

.cart-item-info h3 {
  margin: 0;
  font-size: 1.28571em;
  font-weight: 400
}

.cart-item-info .product-price {
  line-height: 50px
}

.cart-item-info input {
  width: 95px;
  height: 45px;
  border-color: #e1e1e1;
  float: left
}

.cart-item-info .remove-item {
  color: #c6c6c6;
  font-size: 38px;
  font-weight: 300;
  line-height: 47px;
  float: right
}

.cart-item-info .variant {
  color: #adadad
}

.name-product-cart {
  color: rgb(247, 181, 38)
}

.cart .total-price {
  background: #fff;
  padding: 25px;
  line-height: 45px
}

.delete-cart .title {
  font-size: 2.14286em;
  text-align: center;
  padding: 30px 10px
}

.delete-cart .btn-50 {
  width: calc(50% - 3px)
}

.delete-cart .btn-50 a {
  color: #fff;
  display: block
}

#customer_register {
  margin-bottom: 20px
}

#customer_login,
#recover_customer_password {
  margin-bottom: 0
}

.checkbox.style input {
  margin: 0 !important;
  display: none
}

.checkbox.style label {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  text-transform: none;
  position: relative;
  padding-left: 55px;
  line-height: 50px
}

.checkbox.style label:before {
  display: block;
  width: 35px;
  height: 35px;
  background: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%)
}

.checkbox.style input:checked+label:after {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 20px;
  color: rgb(247, 181, 38);
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%)
}

.block-account h3 {
  margin-top: 0
}

.customer-name {
  color: rgb(247, 181, 38);
  line-height: 55px
}

.block-content.form-signup {
  background: #fff;
  padding-top: 10px
}

.block-content.form-signup p {
  padding: 0;
  display: table
}

.block-content.form-signup p i {
  display: table-cell;
  width: 20px;
  text-align: center;
  color: rgb(247, 181, 38)
}

.address-title {
  padding-left: 10px;
  margin-bottom: 15px;
  border-radius: 0 !important;
  font-weight: 300
}

.address-title button {
  background: none;
  border: none;
  font-size: 0;
  width: 50px;
  height: 55px
}

.address-title button.btn-edit {
  background-image: url(//bizweb.dktcdn.net/100/299/077/themes/642224/assets/btn-edit.png?1548562647472);
  background-repeat: no-repeat;
  background-position: center
}

.address-title button.btn-delete {
  background-image: url(//bizweb.dktcdn.net/100/299/077/themes/642224/assets/btn-delete.png?1548562647472);
  background-repeat: no-repeat;
  background-position: center
}

.address-subtitle {
  margin-top: 0;
  text-transform: uppercase
}

.address-item-action {
  right: 0;
  top: -7px
}

.address-item-action .btn-row {
  padding-right: 5px
}

.address-group {
  background: #fff;
  padding-bottom: 5px;
  margin-bottom: 15px
}

.address-group p {
  color: #595959
}

.address-group p label {
  float: left;
  font-weight: 300
}

#order_payment,
#order_shipping {
  background: #fff;
  padding: 10px 0
}

#order_payment .address.note i,
#order_shipping .address.note i {
  color: rgb(247, 181, 38);
  margin-right: 5px
}

.totalorders {
  background: #fff;
  border-color: #e1e1e1
}

.order-headding {
  margin: 0
}

.info-contact .widget-menu p {
  display: inline
}

.info-contact .logo {
  font-size: 20px
}

.aside-item.collection-category .nav-item {
  position: relative;
  clear: left;
  font-size: 1.07143em
}

.aside-item.collection-category .nav-item a {
  font-size: 1.07143em
}

.aside-item.collection-category .nav-item .fa {
  position: absolute;
  right: 10px;
  top: 12px
}

.aside-item.collection-category .nav-item .dropdown-menu {
  position: static;
  width: 100%;
  border: 0;
  padding-left: 15px;
  box-shadow: none
}

.aside-item.collection-category .nav-item.active>a {
  color: rgb(247, 181, 38)
}

.aside-item.collection-category .nav-item.active>.dropdown-menu {
  display: block
}

.aside-item.collection-category .nav>li>a {
  padding: 5px 15px
}

.aside-item .nav>li>a:focus,
.aside-item .nav>li>a:hover {
  background: none
}

#start {
  width: 100px;
  float: left
}

@media (max-width: 1024px) {
  #start {
    width: 80px
  }
}

#start input {
  text-align: center;
  border-radius: 0px;
  border: 1px solid #e1e1e1;
  box-shadow: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none
}

#stop {
  width: 100px;
  float: left;
  margin-left: 30px;
  text-align: center;
  position: relative
}

@media (max-width: 1024px) {
  #stop {
    width: 80px
  }
}

#stop input {
  text-align: center;
  border-radius: 0px;
  border: 1px solid #e1e1e1;
  box-shadow: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none
}

#stop:before {
  content: "-";
  position: absolute;
  left: -17px;
  font-size: 17px
}

a#filter-value {
  height: 30px;
  line-height: 30px;
  font-weight: 400;
  width: 100px;
  margin-top: 15px;
  background-color: rgb(247, 181, 38);
  color: #fff;
  border-color: rgb(247, 181, 38)
}

a#filter-value:hover,
a#filter-value:focus {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #105f87;
  border-color: #105f87
}

div#isp_search_result_page_container .btn-search {
  display: none
}

button.btn.btn-default.btn-search {
  display: none
}

div#isp_search_result_page_container form {
  margin-bottom: 0
}

footer .footer-info-widget p.hotline a {
  color: #fff
}

.product-box .sale-flash {
  background-color: rgb(247, 181, 38)
}

.blog-item .date {
  background: #f02b2b
}

.off-canvas-menu .action .btn-primary.btn-50:last-child {
  background: #2bf525
}

.off-canvas-menu .action .btn-primary.btn-50:last-child:hover {
  background: #43f63d
}

.details-product form button.btn-primary2 {
  background: #2bf525
}

.details-product form button.btn-primary2:hover {
  background: #43f63d
}

.view-desktop a.btn.btn-primary.btn-full {
  background: #ef7d00
}

.view-desktop a.btn.btn-primary.btn-full:hover {
  background: #ff8a0a
}

.home-slider,
.section-blog-sliders {
  overflow: hidden
}

.home-slider .item,
.section-blog-sliders .item {
  position: relative
}

.home-slider.owl-carousel .owl-nav .owl-next,
.section-blog-sliders.owl-carousel .owl-nav .owl-next {
  right: 15px !important;
  background: transparent;
  top: 50%
}

.home-slider.owl-carousel .owl-nav .owl-prev,
.section-blog-sliders.owl-carousel .owl-nav .owl-prev {
  left: 15px !important;
  background: transparent;
  top: 50%
}

.home-slider.owl-carousel .owl-nav .owl-prev:before,
.home-slider.owl-carousel .owl-nav .owl-next:before,
.section-blog-sliders.owl-carousel .owl-nav .owl-prev:before,
.section-blog-sliders.owl-carousel .owl-nav .owl-next:before {
  font-size: 20px;
  background: #fff;
  border: 1px solid #222;
  color: #222;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 32px;
  border-radius: 50%
}

.home-slider.owl-carousel .owl-nav .owl-prev:hover:before,
.home-slider.owl-carousel .owl-nav .owl-next:hover:before,
.section-blog-sliders.owl-carousel .owl-nav .owl-prev:hover:before,
.section-blog-sliders.owl-carousel .owl-nav .owl-next:hover:before {
  color: rgb(247, 181, 38);
  border-color: rgb(247, 181, 38)
}

.home-slider.owl-carousel .owl-dots .owl-dot,
.section-blog-sliders.owl-carousel .owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  background-color: #222
}

.home-slider.owl-carousel .owl-dots .owl-dot.active,
.section-blog-sliders.owl-carousel .owl-dots .owl-dot.active {
  width: 30px;
  height: 10px;
  background-color: rgb(247, 181, 38);
  border-radius: 6px
}

.section-blog-sliders.owl-carousel .owl-dots .owl-dot.active {
  background-color: #a8a8a8
}

.section_tab_product h2 {
  font-size: 1.78571em;
  line-height: 1.1;
  margin: 0 0 20px 0;
  color: #222
}

.section_tab_product .tabs-title {
  margin-bottom: 30px;
  border-radius: 0px;
  overflow: hidden;
  margin-top: 10px
}

.section_tab_product .tabs-title li {
  display: inline-block;
  background: #fff;
  height: 20px;
  line-height: 20px;
  margin: 0 10px;
  font-size: 14px;
  text-transform: uppercase;
  position: relative
}

.section_tab_product .tabs-title li.current {
  color: rgb(247, 181, 38);
  background: #fff
}

.section_tab_product .tabs-title li:hover,
.section_tab_product .tabs-title li:focus {
  color: rgb(247, 181, 38)
}

.section_tab_product .tab-content {
  clear: left
}

@media (max-width: 767px) {
  .section_tab_product .tabs-title li {
    width: 87px
  }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  .table-responsive-block table,
  .table-responsive-block thead,
  .table-responsive-block tbody,
  .table-responsive-block th,
  .table-responsive-block td,
  .table-responsive-block tr {
    display: block
  }

  .table-responsive-block thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px
  }

  .table-responsive-block tr {
    background: #fff;
    line-height: 20px;
    margin-bottom: 10px
  }

  .table-responsive-block td {
    border: none;
    position: relative;
    padding-left: 40%;
    text-align: right;
    font-weight: 700
  }

  .table-responsive-block td.last {
    padding: 0;
    line-height: 50px
  }

  .table-responsive-block td.last a {
    color: rgb(247, 181, 38)
  }

  .table-responsive-block td:before {
    position: absolute;
    top: 13px;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    text-align: left;
    white-space: nowrap;
    font-weight: 400
  }

  .table-responsive-block .table-order td:nth-of-type(1):before {
    content: "Đơn hàng"
  }

  .table-responsive-block .table-order td:nth-of-type(2):before {
    content: "Ngày"
  }

  .table-responsive-block .table-order td:nth-of-type(3):before {
    content: "Chuyển đến"
  }

  .table-responsive-block .table-order td:nth-of-type(4):before {
    content: "Địa chỉ"
  }

  .table-responsive-block .table-order td:nth-of-type(5):before {
    content: "Giá trị"
  }

  .table-responsive-block .table-order td:nth-of-type(6):before {
    content: "Tình trạng"
  }

  .table-responsive-block #order_details td:nth-of-type(1):before {
    content: "Sản phẩm"
  }

  .table-responsive-block #order_details td:nth-of-type(2):before {
    content: "Mã sản phẩm"
  }

  .table-responsive-block #order_details td:nth-of-type(3):before {
    content: "Giá"
  }

  .table-responsive-block #order_details td:nth-of-type(4):before {
    content: "Số lượng"
  }

  .table-responsive-block #order_details td:nth-of-type(5):before {
    content: "Tổng"
  }

  .table-responsive-block #order_details td:nth-of-type(6):before {
    content: "Tình trạng"
  }

  .table-responsive-block .totalorders td:nth-of-type(1):before {
    content: "Tạm tính"
  }

  .table-responsive-block .totalorders td:nth-of-type(2):before {
    content: "Phí vận chuyển"
  }

  .table-responsive-block .totalorders td:nth-of-type(3):before {
    content: "Tổng tiền"
  }

  .table-responsive-block .totalorders td:nth-of-type(4):before {
    content: "Số lượng"
  }

  .table-responsive-block .totalorders td:nth-of-type(5):before {
    content: "Tổng"
  }

  .table-responsive-block .totalorders td:nth-of-type(6):before {
    content: "Tình trạng"
  }
}

@media (max-width: 543px) {
  section.sidebar.left-content.col-lg-12 {
    padding: 0
  }
}

@media (max-width: 1199px) {
  header nav .mega-content {
    width: 940px
  }

  header nav .mega-content .level1.item {
    text-align: left
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .search.f-right {
    margin-right: 50px
  }
}

@media (max-width: 767px) {
  header>.container {
    position: relative
  }

  .menu-bar.hidden-md.hidden-lg {
    position: absolute;
    top: 40px;
    right: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    z-index: 1000
  }

  header .logo a {
    display: inline-block;
    text-align: left
  }

  header nav .nav-item {
    display: block;
    width: 100%;
    text-align: left;
    margin: 0
  }

  header nav .nav-item .dropdown-menu {
    display: none !important;
    position: static;
    border: none
  }

  header nav .nav-item.open a {
    background: none !important
  }

  header nav .nav-item.open>.dropdown-menu {
    display: block !important;
    margin: 0;
    padding: 0
  }

  header nav li.menu-line {
    display: none;
    border: none
  }

  header nav .nav-item>a {
    line-height: 20px;
    padding: 5px 15px 3px
  }

  header nav #nav-mobile .nav-item>.dropdown-menu {
    padding: 0 0 0 15px;
    position: static;
    width: 100%;
    float: none;
    border: none;
    padding-right: 7px
  }

  header nav .nav-item:hover>.dropdown-menu li.open>.dropdown-menu {
    display: block !important
  }

  .header-main {
    padding: 10px 0
  }

  #nav {
    padding-right: 0;
    display: none;
    padding-right: 0;
    padding: 10px 0;
    border: 1px solid #ebebeb;
    margin-bottom: 15px
  }

  #nav.open {
    display: block
  }

  #nav .nav-link>.fa {
    float: right;
    line-height: 22px;
    margin-right: -15px;
    width: 40px;
    text-align: center;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px)
  }
}

@media (max-width: 991px) {
  .logo {
    display: inline-block;
    font-size: 30px;
    line-height: 65px
  }
}

@media (max-width: 543px) {
  .topbar .a-left {
    display: none
  }

  .topbar ul.list-inline.f-right {
    float: left !important
  }

  .logo {
    display: block;
    font-size: 20px
  }

  .search.f-right {
    float: none;
    width: 100%
  }
}

@media (max-width: 420px) {
  .col-xs-6.footer-header {
    width: 100%
  }
}

@media (max-width: 430px) {
  .collection p.title-head-info {
    position: static
  }

  .collection h1.title-head {
    margin-bottom: 5px
  }
}

@media (max-width: 480px) {
  .product-tab .tab-link {
    margin-right: 10px
  }
}

@media (max-width: 375px) {
  .sodiachi .btn.btn-50 {
    width: 100%;
    margin-bottom: 10px
  }
}

@media (max-width: 768px) {
  .quick-view {
    display: none !important
  }
}

footer .footer-info-widget p.hotline a {
  color: #fff
}

.product-box .sale-flash {
  display: inline-block;
  padding: 4px 10px;
  color: #fff;
  background-color: #fe9931;
  text-transform: uppercase;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(218, 218, 218, 0.3);
  -moz-box-shadow: 2px 2px 0px 0px rgba(218, 218, 218, 0.3);
  box-shadow: 2px 2px 0px 0px rgba(218, 218, 218, 0.3)
}

.product-box .sale-flash:before {
  border-top: 10px solid #f4364f
}

.blog-item .date {
  background: #f02b2b
}

.off-canvas-menu .action .btn-primary.btn-50:last-child {
  background: #2bf525
}

.off-canvas-menu .action .btn-primary.btn-50:last-child:hover {
  background: #43f63d
}

.details-product form button.btn-primary2 {
  background: #2bf525
}

.details-product form button.btn-primary2:hover {
  background: #43f63d
}

.view-desktop a.btn.btn-primary.btn-full {
  background: #ef7d00
}

.view-desktop a.btn.btn-primary.btn-full:hover {
  background: #ff8a0a
}

.home-slider,
.section-blog-sliders {
  overflow: hidden
}

.home-slider .item,
.section-blog-sliders .item {
  position: relative
}

.home-slider.owl-carousel .owl-nav .owl-next,
.section-blog-sliders.owl-carousel .owl-nav .owl-next {
  right: 15px !important;
  background: transparent;
  top: 50%
}

.home-slider.owl-carousel .owl-nav .owl-prev,
.section-blog-sliders.owl-carousel .owl-nav .owl-prev {
  left: 15px !important;
  background: transparent;
  top: 50%
}

.home-slider.owl-carousel .owl-nav .owl-prev:before,
.home-slider.owl-carousel .owl-nav .owl-next:before,
.section-blog-sliders.owl-carousel .owl-nav .owl-prev:before,
.section-blog-sliders.owl-carousel .owl-nav .owl-next:before {
  font-size: 20px;
  background: #fff;
  border: 1px solid #222;
  color: #222;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 32px;
  border-radius: 50%
}

.home-slider.owl-carousel .owl-nav .owl-prev:hover:before,
.home-slider.owl-carousel .owl-nav .owl-next:hover:before,
.section-blog-sliders.owl-carousel .owl-nav .owl-prev:hover:before,
.section-blog-sliders.owl-carousel .owl-nav .owl-next:hover:before {
  color: rgb(247, 181, 38);
  border-color: rgb(247, 181, 38)
}

.home-slider.owl-carousel .owl-dots .owl-dot,
.section-blog-sliders.owl-carousel .owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  background-color: rgba(0, 0, 0, 0.2)
}

.home-slider.owl-carousel .owl-dots .owl-dot.active,
.section-blog-sliders.owl-carousel .owl-dots .owl-dot.active {
  width: 30px;
  height: 10px;
  background-color: rgb(247, 181, 38);
  border-radius: 6px
}

.section-blog-sliders.owl-carousel .owl-dots .owl-dot.active {
  background-color: #a8a8a8
}

.section_tab_product h2 {
  font-size: 1.78571em;
  line-height: 1.1;
  margin: 0 0 20px 0;
  color: #222
}

.section_tab_product .tabs-title {
  margin-bottom: 30px;
  border-radius: 0px;
  overflow: hidden;
  margin-top: 10px
}

.section_tab_product .tabs-title li {
  display: inline-block;
  background: #fff;
  height: 20px;
  line-height: 20px;
  margin: 0 10px;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  color: #8c8c8c
}

.section_tab_product .tabs-title li.current {
  color: #333;
  background: #fff
}

.section_tab_product .tabs-title li:hover,
.section_tab_product .tabs-title li:focus {
  color: #333
}

.section_tab_product .tab-content {
  clear: left
}

@media (max-width: 767px) {
  .section_tab_product .tabs-title li {
    width: 87px
  }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  .table-responsive-block table,
  .table-responsive-block thead,
  .table-responsive-block tbody,
  .table-responsive-block th,
  .table-responsive-block td,
  .table-responsive-block tr {
    display: block
  }

  .table-responsive-block thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px
  }

  .table-responsive-block tr {
    background: #fff;
    line-height: 20px;
    margin-bottom: 10px
  }

  .table-responsive-block td {
    border: none;
    position: relative;
    padding-left: 40%;
    text-align: right;
    font-weight: 700
  }

  .table-responsive-block td.last {
    padding: 0;
    line-height: 50px
  }

  .table-responsive-block td.last a {
    color: rgb(247, 181, 38)
  }

  .table-responsive-block td:before {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    text-align: left;
    white-space: nowrap;
    font-weight: 400
  }

  .table-responsive-block .table-order td:nth-of-type(1):before {
    content: "Đơn hàng"
  }

  .table-responsive-block .table-order td:nth-of-type(2):before {
    content: "Ngày"
  }

  .table-responsive-block .table-order td:nth-of-type(3):before {
    content: "Chuyển đến"
  }

  .table-responsive-block .table-order td:nth-of-type(4):before {
    content: "Địa chỉ"
  }

  .table-responsive-block .table-order td:nth-of-type(5):before {
    content: "Giá trị"
  }

  .table-responsive-block .table-order td:nth-of-type(6):before {
    content: "Tình trạng"
  }

  .table-responsive-block #order_details td:nth-of-type(1):before {
    content: "Sản phẩm"
  }

  .table-responsive-block #order_details td:nth-of-type(2):before {
    content: "Mã sản phẩm"
  }

  .table-responsive-block #order_details td:nth-of-type(3):before {
    content: "Giá"
  }

  .table-responsive-block #order_details td:nth-of-type(4):before {
    content: "Số lượng"
  }

  .table-responsive-block #order_details td:nth-of-type(5):before {
    content: "Tổng"
  }

  .table-responsive-block #order_details td:nth-of-type(6):before {
    content: "Tình trạng"
  }

  .table-responsive-block .totalorders td:nth-of-type(1):before {
    content: "Tạm tính"
  }

  .table-responsive-block .totalorders td:nth-of-type(2):before {
    content: "Phí vận chuyển"
  }

  .table-responsive-block .totalorders td:nth-of-type(3):before {
    content: "Tổng tiền"
  }

  .table-responsive-block .totalorders td:nth-of-type(4):before {
    content: "Số lượng"
  }

  .table-responsive-block .totalorders td:nth-of-type(5):before {
    content: "Tổng"
  }

  .table-responsive-block .totalorders td:nth-of-type(6):before {
    content: "Tình trạng"
  }
}

@media (max-width: 543px) {
  section.sidebar.left-content.col-lg-12 {
    padding: 0
  }
}

@media (max-width: 1199px) {
  header nav .mega-content {
    width: 940px
  }

  header nav .mega-content .level1.item {
    text-align: left
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .search.f-right {
    margin-right: 50px
  }
}

@media (max-width: 991px) {
  header>.container {
    position: relative
  }

  .menu-bar.hidden-md.hidden-lg {
    position: absolute;
    top: 40px;
    right: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    z-index: 1000
  }

  header .logo a {
    display: inline-block;
    text-align: left
  }

  header nav .nav-item {
    display: block;
    width: 100%;
    text-align: left;
    margin: 0
  }

  header nav .nav-item .dropdown-menu {
    display: none !important;
    position: static;
    border: none
  }

  header nav .nav-item.open a {
    background: none !important
  }

  header nav .nav-item.open>.dropdown-menu {
    display: block !important;
    margin: 0;
    padding: 0
  }

  header nav li.menu-line {
    display: none;
    border: none
  }

  header nav .nav-item>a {
    line-height: 20px;
    padding: 5px 15px 3px
  }

  header nav #nav-mobile .nav-item>.dropdown-menu {
    padding: 0 0 0 15px;
    position: static;
    width: 100%;
    float: none;
    border: none;
    padding-right: 7px
  }

  header nav .nav-item:hover>.dropdown-menu li.open>.dropdown-menu {
    display: block !important
  }

  .header-main {
    padding: 10px 0
  }

  #nav {
    padding-right: 0;
    display: none;
    padding-right: 0;
    padding: 10px 0;
    border: 1px solid #ebebeb;
    margin-bottom: 15px
  }

  #nav.open {
    display: block
  }

  #nav .nav-link>.fa {
    float: right;
    line-height: 22px;
    margin-right: -15px;
    width: 40px;
    text-align: center;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px)
  }
}

@media (max-width: 991px) {
  .logo {
    display: inline-block;
    font-size: 30px;
    line-height: 65px
  }
}

@media (max-width: 543px) {
  .topbar .a-left {
    display: none
  }

  .topbar ul.list-inline.f-right {
    float: left !important
  }

  .logo {
    display: block;
    font-size: 20px
  }

  .search.f-right {
    float: none;
    width: 100%
  }
}

@media (max-width: 420px) {
  .col-xs-6.footer-header {
    width: 100%
  }
}

@media (max-width: 543px) {
  .product-box .product-thumbnail>a {
    max-height: 1000px;
    height: auto
  }

  .product-box .product-thumbnail>a img {
    width: 100% !important;
    height: auto !important
  }
}

@media (max-width: 430px) {
  .collection p.title-head-info {
    position: static
  }

  .collection h1.title-head {
    margin-bottom: 5px
  }
}

@media (max-width: 480px) {
  .product-tab .tab-link {
    margin-right: 10px
  }
}

@media (max-width: 375px) {
  .sodiachi .btn.btn-50 {
    width: 100%;
    margin-bottom: 10px
  }
}

@media (max-width: 768px) {
  .quick-view {
    display: none !important
  }
}

footer .footer-info-widget p.hotline a {
  color: #fff
}

.product-box .sale-flash {
  display: inline-block;
  padding: 4px 10px;
  color: #fff;
  background-color: #fe9931;
  text-transform: uppercase;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(218, 218, 218, 0.3);
  -moz-box-shadow: 2px 2px 0px 0px rgba(218, 218, 218, 0.3);
  box-shadow: 2px 2px 0px 0px rgba(218, 218, 218, 0.3)
}

.product-box .sale-flash:before {
  border-top: 10px solid #f4364f
}

.blog-item .date {
  background: #f02b2b
}

.off-canvas-menu .action .btn-primary.btn-50:last-child {
  background: #2bf525
}

.off-canvas-menu .action .btn-primary.btn-50:last-child:hover {
  background: #43f63d
}

.details-product form button.btn-primary2 {
  background: #2bf525
}

.details-product form button.btn-primary2:hover {
  background: #43f63d
}

.view-desktop a.btn.btn-primary.btn-full {
  background: #ef7d00
}

.view-desktop a.btn.btn-primary.btn-full:hover {
  background: #ff8a0a
}

.text1line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical
}

.text2line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}

.text3line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical
}

.text4line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical
}

.text5line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical
}

.text6line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical
}

.text7line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical
}

.text8line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical
}

.text9line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical
}

.home-slider,
.section-blog-sliders {
  overflow: hidden
}

.home-slider .item,
.section-blog-sliders .item {
  position: relative
}

.home-slider.owl-carousel .owl-nav .owl-next,
.section-blog-sliders.owl-carousel .owl-nav .owl-next {
  right: 15px !important;
  background: transparent;
  top: 50%
}

.home-slider.owl-carousel .owl-nav .owl-prev,
.section-blog-sliders.owl-carousel .owl-nav .owl-prev {
  left: 15px !important;
  background: transparent;
  top: 50%
}

.home-slider.owl-carousel .owl-nav .owl-prev:before,
.home-slider.owl-carousel .owl-nav .owl-next:before,
.section-blog-sliders.owl-carousel .owl-nav .owl-prev:before,
.section-blog-sliders.owl-carousel .owl-nav .owl-next:before {
  font-size: 20px;
  background: #fff;
  border: 1px solid #222;
  color: #222;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 32px;
  border-radius: 50%
}

.home-slider.owl-carousel .owl-nav .owl-prev:hover:before,
.home-slider.owl-carousel .owl-nav .owl-next:hover:before,
.section-blog-sliders.owl-carousel .owl-nav .owl-prev:hover:before,
.section-blog-sliders.owl-carousel .owl-nav .owl-next:hover:before {
  color: rgb(247, 181, 38);
  border-color: rgb(247, 181, 38)
}

.home-slider.owl-carousel .owl-dots .owl-dot,
.section-blog-sliders.owl-carousel .owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  background-color: rgba(0, 0, 0, 0.2)
}

.home-slider.owl-carousel .owl-dots .owl-dot.active,
.section-blog-sliders.owl-carousel .owl-dots .owl-dot.active {
  width: 30px;
  height: 10px;
  background-color: rgb(247, 181, 38);
  border-radius: 6px
}

.section-blog-sliders.owl-carousel .owl-dots .owl-dot.active {
  background-color: #a8a8a8
}

.section_tab_product h2 {
  font-size: 1.78571em;
  line-height: 1.1;
  margin: 0 0 20px 0;
  color: #222
}

.section_tab_product .tabs-title {
  margin-bottom: 30px;
  border-radius: 0px;
  overflow: hidden;
  margin-top: 10px
}

.section_tab_product .tabs-title li {
  display: inline-block;
  background: #fff;
  height: 20px;
  line-height: 20px;
  margin: 0 10px;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  color: #8c8c8c
}

.section_tab_product .tabs-title li.current {
  color: #333;
  background: #fff
}

.section_tab_product .tabs-title li:hover,
.section_tab_product .tabs-title li:focus {
  color: #333
}

.section_tab_product .tab-content {
  clear: left
}

@media (max-width: 767px) {
  .section_tab_product .tabs-title li {
    width: 87px
  }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  .table-responsive-block table,
  .table-responsive-block thead,
  .table-responsive-block tbody,
  .table-responsive-block th,
  .table-responsive-block td,
  .table-responsive-block tr {
    display: block
  }

  .table-responsive-block thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px
  }

  .table-responsive-block tr {
    background: #fff;
    line-height: 20px;
    margin-bottom: 10px
  }

  .table-responsive-block td {
    border: none;
    position: relative;
    padding-left: 40%;
    text-align: right;
    font-weight: 700
  }

  .table-responsive-block td.last {
    padding: 0;
    line-height: 50px
  }

  .table-responsive-block td.last a {
    color: rgb(247, 181, 38)
  }

  .table-responsive-block td:before {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    text-align: left;
    white-space: nowrap;
    font-weight: 400
  }

  .table-responsive-block .table-order td:nth-of-type(1):before {
    content: "Đơn hàng"
  }

  .table-responsive-block .table-order td:nth-of-type(2):before {
    content: "Ngày"
  }

  .table-responsive-block .table-order td:nth-of-type(3):before {
    content: "Chuyển đến"
  }

  .table-responsive-block .table-order td:nth-of-type(4):before {
    content: "Địa chỉ"
  }

  .table-responsive-block .table-order td:nth-of-type(5):before {
    content: "Giá trị"
  }

  .table-responsive-block .table-order td:nth-of-type(6):before {
    content: "Tình trạng"
  }

  .table-responsive-block #order_details td:nth-of-type(1):before {
    content: "Sản phẩm"
  }

  .table-responsive-block #order_details td:nth-of-type(2):before {
    content: "Mã sản phẩm"
  }

  .table-responsive-block #order_details td:nth-of-type(3):before {
    content: "Giá"
  }

  .table-responsive-block #order_details td:nth-of-type(4):before {
    content: "Số lượng"
  }

  .table-responsive-block #order_details td:nth-of-type(5):before {
    content: "Tổng"
  }

  .table-responsive-block #order_details td:nth-of-type(6):before {
    content: "Tình trạng"
  }

  .table-responsive-block .totalorders td:nth-of-type(1):before {
    content: "Tạm tính"
  }

  .table-responsive-block .totalorders td:nth-of-type(2):before {
    content: "Phí vận chuyển"
  }

  .table-responsive-block .totalorders td:nth-of-type(3):before {
    content: "Tổng tiền"
  }

  .table-responsive-block .totalorders td:nth-of-type(4):before {
    content: "Số lượng"
  }

  .table-responsive-block .totalorders td:nth-of-type(5):before {
    content: "Tổng"
  }

  .table-responsive-block .totalorders td:nth-of-type(6):before {
    content: "Tình trạng"
  }
}

@media (max-width: 543px) {
  section.sidebar.left-content.col-lg-12 {
    padding: 0
  }
}

@media (max-width: 1199px) {
  header nav .mega-content {
    width: 100%
  }

  header nav .mega-content .level1.item {
    text-align: left
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .search.f-right {
    margin-right: 50px
  }
}

@media (max-width: 991px) {
  header>.container {
    position: relative
  }

  .menu-bar.hidden-md.hidden-lg {
    position: absolute;
    top: 40px;
    right: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    z-index: 1000
  }

  header .logo a {
    display: inline-block;
    text-align: left
  }

  header nav .nav-item {
    display: block;
    width: 100%;
    text-align: left;
    margin: 0
  }

  header nav .nav-item .dropdown-menu {
    display: none !important;
    position: static;
    border: none
  }

  header nav .nav-item.open a {
    background: none !important
  }

  header nav .nav-item.open>.dropdown-menu {
    display: block !important;
    margin: 0;
    padding: 0
  }

  header nav li.menu-line {
    display: none;
    border: none
  }

  header nav .nav-item>a {
    line-height: 20px;
    padding: 5px 15px 3px
  }

  header nav #nav-mobile .nav-item>.dropdown-menu {
    padding: 0 0 0 15px;
    position: static;
    width: 100%;
    float: none;
    border: none;
    padding-right: 7px
  }

  header nav .nav-item:hover>.dropdown-menu li.open>.dropdown-menu {
    display: block !important
  }

  .header-main {
    padding: 10px 0
  }

  #nav {
    padding-right: 0;
    display: none;
    padding-right: 0;
    padding: 10px 0;
    border: 1px solid #ebebeb;
    margin-bottom: 15px
  }

  #nav.open {
    display: block
  }

  #nav .nav-link>.fa {
    float: right;
    line-height: 22px;
    margin-right: -15px;
    width: 40px;
    text-align: center;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px)
  }
}

@media (max-width: 991px) {
  .logo {
    display: inline-block;
    font-size: 30px;
    line-height: 65px
  }
}

@media (max-width: 543px) {
  .topbar .a-left {
    display: none
  }

  .topbar ul.list-inline.f-right {
    float: left !important
  }

  .logo {
    display: block;
    font-size: 20px
  }

  .search.f-right {
    float: none;
    width: 100%
  }
}

@media (max-width: 420px) {
  .col-xs-6.footer-header {
    width: 100%
  }
}

@media (max-width: 543px) {
  .product-box .product-thumbnail>a {
    max-height: 1000px;
    height: auto
  }

  .product-box .product-thumbnail>a img {
    width: 100% !important;
    height: auto !important
  }
}

@media (max-width: 430px) {
  .collection p.title-head-info {
    position: static
  }

  .collection h1.title-head {
    margin-bottom: 5px
  }
}

@media (max-width: 480px) {
  .product-tab .tab-link {
    margin-right: 10px
  }
}

@media (max-width: 375px) {
  .sodiachi .btn.btn-50 {
    width: 100%;
    margin-bottom: 10px
  }
}

@media (max-width: 768px) {
  .quick-view {
    display: none !important
  }
}